* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    position: relative;

}

a {
    text-decoration: none;
    color: #000;
}

li {
    display: block;
}

@font-face {
    font-family: "Roboto";
    src: url(./font/Roboto/Roboto-Medium.ttf);
}

@media screen and (min-width:1100px) {
    body {
        font-family: "Roboto";
        margin: auto;

    }

    .header.header-active {
        position: fixed;
        top: 0;
        transition: all 0.7s ease-in-out;
        left: 0;
        right: 0;
        z-index: 10000;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-menu.nav-menu-active {
        position: fixed;
        top: 92px;
        transition: all 0.7s ease-in-out;
        left: 0;
        right: 0;
        z-index: 200;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 3px solid #6C7A89;
    }

    .nav-hotline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        color: #6C7A89;
    }

    .nav-hotline i {
        margin-right: 10px;
        font-size: 18px;
    }

    .nav-hotline a {
        text-transform: uppercase;
        line-height: 24px;
        font-size: 16px;
        color: #000;
        letter-spacing: 1.5px;
    }

    .logo img {
        width: 140px;
        height: 60px;
    }

    .nav-icon {
        display: flex;
        align-items: center;
    }

    .nav-item {
        display: inline-block;
        position: relative;
        margin-left: 20px;
        font-size: 18px;
        color: #6C7A89;
    }

    .nav-item i {
        cursor: pointer;
    }

    .nav-item input {
        width: 280px;
        height: 40px;
        padding-left: 15px;
        border-radius: 16px;
        border: 1px solid #6C7A89;
        font-size: 14px;
    }

    .nav-sreach {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #6C7A89;
        column-gap: 10px;
        margin: auto;
    }

    .nav-menu>li {
        display: inline-block;
        padding: 20px 30px;
    }

    .nav-menu>li>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu>li>a>span {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 5px;
    }

    .menu-drop {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 148px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px 0px;

        box-shadow: 0px 4px 5px #b6bdc4;
    }

    #item-drop span {
        color: #000;
    }

    .drop-item {
        padding-bottom: 10px;
        width: 100%;
        text-align: left;
        margin: 10px 0px;
    }

    .drop-item>div {
        border-bottom: 1px solid #6C7A89;
        padding-bottom: 10px;
        margin-left: 30px;
        margin-right: 80px;
    }

    .drop-item a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }

    .drop-item>ul {
        padding-left: 30px;
    }

    .drop-item>ul>li {
        margin-top: 10px;
    }

    .drop-item>ul>li a {
        font-size: 13px;
        text-transform: capitalize;
    }
    .banner img {
        height: 500px;
    }

    .banner-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        column-gap: 30px;
    }

    .banner-icon img {
        height: 85px;
        width: 185px;

    }
    .product {
        margin-top: 50px;
        max-width: 1440px;
        margin: 60px auto;
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper:hover .swiper-button-next,
    .swiper:hover .swiper-button-prev {
        opacity: 0.9;
    }

    .swiper h3 {
        font-size: 30px;
        border-bottom: 3px solid #662d91;
        display: inline-block;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
        height: 522.19px;
        border-radius: 18px;
        border: 1px solid #000;
    }

    .swiper-button-next {
        border: 1px solid #fff;
        right: 0;
        top: 55%;
        background-color: #fff;
        color: #000;
        padding: 20px;
        opacity: 0.4;
        box-shadow: -3px 0px 2px #5b666e;
        border-radius: 5px 0px 0px 5px;
    
    }

    .swiper-button-prev {
        border: 1px solid #fff;
        left: 0;
        top: 55%;
        background-color: #fff;
        color: #000;
        padding: 20px;
        opacity: 0.4;
        box-shadow: 3px 0px 2px #5b666e;
        border-radius: 0px 5px 5px 0px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 30px;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
        transform: translateY(11px);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }

    #item-product {
        margin-top: 30px;
    }

    .body-product {
        display: flex;
        flex-direction: column;
       
    }

    .body-product .price-product {
        font-size: 15px;
        text-decoration: line-through;
        color: #6C7A89;
    }

    .body-product .price-sale-product {
        font-size: 16px;
        color: #D61C4E;
    }

    .swiper-slide img {
        height: 300px;
    }

    .swiper-slide:hover {
        cursor: pointer;
        overflow: hidden;
    }

    .swiper-slide:hover img {
        transform: scale(1.1);
        transition-delay: 0.7s;
        transition-duration: 1s;
    }

    .swiper-slide:hover .product-name {
        color: #662d91;
        transition: all 0.5s ease-in-out;
    }

    .swiper-slide:hover .product-btn-cart {
        transform: translateY(-10px);
        transition: all 0.6s ease-in-out;
    }

    .collapse:not(.show) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow: hidden;
        height: 1000.38px;
    }

    .collapse {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .collapse-product {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
        padding: 0px 20px;
        height: 500.18px;
        overflow: hidden;
    }

    .collapse-product:hover {
        cursor: pointer;
        overflow: hidden;
    }

    .collapse-product:hover img {
        transform: scale(1.1);
        transition-delay: 0.7s;
        transition-duration: 1s;
    }

    .collapse-product:hover .product-name {
        color: #662d91;
        transition: all 0.5s ease-in-out;
    }

    .collapse-product:hover .product-btn-cart {
        transform: translateY(-10px);
        transition: all 0.6s ease-in-out;
    }
    .cart-img {
        height: 170px;
        width: 210px;
    }

    .ttcart {
        width: 100%;
        height: 30px;
        padding-left: 10px;
    }
    .user-profile{
        display: flex;
    }
   
    .user-profile-menu{
       
        padding: 20px;
        
    }
    .user-profile-menu li{
          
        text-align: center;
    }
    .user-profile-menu li a{
      padding: 10px;  
      width: 100%;
      background-color: #007aff;
      margin-bottom:10px;
        border-radius: 10px;
        color: #fff;
    }
    .user-profile-menu li a :hover{
        background-color: rgb(113, 202, 110);
    }
    
    .btn-collapse {
        border: 1px solid #000000;
        padding: 10px 80px;
        border-radius: 16px;
        
    }
    .form-users{
        width: 50%;
        border: 1px solid #a1a6aa;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 1px 2px 10px #a1a6aa;
    }
   
    .pd-wrap {
        padding: 40px 0;
        font-family: 'Poppins', sans-serif;
    }

    .heading-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .sub-heading {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        display: block;
        font-weight: 600;
        color: #2e9ca1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .heading-section h2 {
        font-size: 32px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .user-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        min-width: 80px;
        background-size: 100%;
    }

    .carousel-testimonial .item {
        padding: 30px 10px;
    }

    .quote {
        position: absolute;
        top: -23px;
        color: #2e9da1;
        font-size: 27px;
    }

    .name {
        margin-bottom: 0;
        line-height: 14px;
        font-size: 17px;
        font-weight: 500;
    }

    .position {
        color: #adadad;
        font-size: 14px;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        outline: none;
        height: 25px;
    }

    .owl-nav button svg {
        width: 25px;
        height: 25px;
    }

    .owl-nav button.owl-prev {
        left: 25px;
    }

    .owl-nav button.owl-next {
        right: 25px;
    }

    .owl-nav button span {
        font-size: 45px;
    }

    .product-thumb .item img {
        height: 100px;
    }

    .product-name {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .product-price-discount {
        font-size: 22px;
        font-weight: 400;
        padding: 10px 0;
        clear: both;
    }

    .product-price-discount span.line-through {
        text-decoration: line-through;
        margin-left: 10px;
        font-size: 14px;
        vertical-align: middle;
        color: #a5a5a5;
    }

    .display-flex {
        display: flex;
    }

    .align-center {
        align-items: center;
    }

    .product-info {
        width: 100%;
    }

    .reviews-counter {
        font-size: 13px;
    }

    .reviews-counter span {
        vertical-align: -2px;
    }


    .product-dtl p {
        font-size: 14px;
        line-height: 24px;
        color: #7a7a7a;
    }

    .product-dtl .form-control {
        font-size: 15px;
        border-radius: 16px;
        box-shadow: 1px 2px 10px #a1a6aa;
    }
    .form-control{
        border-radius: 10px;
        box-shadow: 1px 2px 5px #a1a6aa;
    }
    .product-dtl label {
        line-height: 16px;
        font-size: 15px;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    .product-count {
        margin-top: 15px;
    }

    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 34px;
        height: 34px;
        background: #212529;
        text-align: center;
        font-size: 19px;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
    }

    .product-count .qtyminus {
        border-radius: 3px 0 0 3px;
    }

    .product-count .qtyplus {
        border-radius: 0 3px 3px 0;
    }

    .product-count .qty {
        width: 60px;
        text-align: center;
    }

    .round-black-btn {
        border-radius: 4px;
        background: #212529;
        color: #fff;
        padding: 7px 45px;
        display: inline-block;
        margin-top: 20px;
        border: solid 2px #212529;
        transition: all 0.5s ease-in-out 0s;
    }

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

    .product-info-tabs {
        margin-top: 25px;
    }

    .product-info-tabs .nav-tabs {
        border-bottom: 2px solid #d8d8d8;
    }

    .product-info-tabs .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .product-info-tabs .nav-tabs .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        color: #323232;
    }

    .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
        border: none;
    }

    .product-info-tabs .nav-tabs .nav-item.show .nav-link,
    .product-info-tabs .nav-tabs .nav-link.active,
    .product-info-tabs .nav-tabs .nav-link.active:hover {
        border: none;
        border-bottom: 2px solid #d8d8d8;
        font-weight: bold;
    }

    .product-info-tabs .tab-content .tab-pane {
        padding: 30px 20px;
        font-size: 15px;
        line-height: 24px;
        color: #7a7a7a;
    }

    .review-form .form-group {
        clear: both;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .review-form .rate {
        float: none;
        display: inline-block;
    }

    .review-heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 6px;
        text-transform: uppercase;
        color: #000;
    }

    .review-form .form-control {
        font-size: 14px;
    }

    .review-form input.form-control {
        height: 40px;
    }

    .review-form textarea.form-control {
        resize: none;
    }

    .review-form .round-black-btn {
        text-transform: uppercase;
        cursor: pointer;
    }

    .user-cmt {
        border: 1px solid #5b666e;
        box-shadow: 1px 3px 10px #a1a6aa;
        padding: 20px;
        border-radius: 16px;
        color: #000000;
    }

    .tab-content>.tab-pane {
        display: block;
    }

    .fade:not(.show) {
        opacity: 1;
    }
    .user-cmt{
        display: flex;
        justify-content: space-between;
    }
    .user-cmt .text{
        text-transform: capitalize;
    }
    .date-cmt{
        color: #5b666e;
        font-size: 13px;
    }
}

@media only screen and (min-width:46.25em) and (max-width:1099px) {
    body {
        font-family: "Roboto";
        margin: auto;

    }

    .header.header-active {
        position: fixed;
        top: 0;
        transition: all 0.7s ease-in-out;
        left: 0;
        right: 0;
        z-index: 10000;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-menu.nav-menu-active {
        position: fixed;
        top: 92px;
        transition: all 0.7s ease-in-out;
        left: 0;
        right: 0;
        z-index: 200;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 3px solid #6C7A89;
    }

    .nav-hotline {
        display: none;
    }
    .logo img {
        width: 140px;
        height: 60px;
    }

    .nav-icon {
        display: flex;
        align-items: center;
    }

    .nav-item >form {
        display: none;
    }
    .nav-item {
        display: inline-block;
        position: relative;
        margin-left: 20px;
        font-size: 18px;
        color: #6C7A89;
    }

    .nav-item i {
        cursor: pointer;
    }

    .nav-item input {
        width: 280px;
        height: 40px;
        padding-left: 15px;
        border-radius: 16px;
        border: 1px solid #6C7A89;
        font-size: 14px;
    }

    .nav-sreach {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #6C7A89;
        column-gap: 10px;
        margin: auto;
    }

    .nav-menu>li {
        display: inline-block;
        padding: 20px 30px;
    }

    .nav-menu>li>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu>li>a>span {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 5px;
    }

    .menu-drop {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 148px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px 0px;

        box-shadow: 0px 4px 5px #b6bdc4;
    }
  
}

@media only screen and (max-width:46.1875em) {}